.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-left {
    position: relative;
    left: -15px;
    top: 10px;
    width: 150px;
}

.bottom-right {
    position: absolute;
    bottom: 13px;
    right: 8px;
}

.content {
    min-height: calc(100vh - 120px);
}

.footer {
    left: 0;
    bottom: 0;
    height: 140px;
    width: 100%;
    overflow: hidden;

}

.title {
    font-size: 84px;
}

.links > a {
    color: #fff;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .01rem;
    text-decoration: none;
    text-transform: uppercase;
    word-break: keep-all;
}

.m-b-md {
    margin-bottom: 30px;
}

.header {
    text-align: center;
    height: auto;
    width: 935px;
}

span {
    font-size: 14px;
}

.header-background {
    background-size: cover;
    background-position: center;
    height: 277px;
    width: 935px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.row1 {
    height: auto;
    width: 100%;
}

hr {
    border-color: #fff;
}

.main {
    height: auto;
    width: 100%;
}

a {
    font-size: 14px;
}

h1, h2 {
    font-size: 21px;
}

p {
    font-size: 14px;
}

.header-search {
    position: relative;
    padding-top: 160px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.auth-separator {
    margin: 5px 5px 0 0;
}

#mapid {
    height: 380px;
}

#sidebar {
    min-height: 422px;
    min-width: 210px;
    margin-left: -45px;
}

.sponsor {
    width: auto;
    height: 70px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#app {
    min-height: calc(100vh - 140px);
    background: url('../img/bg.jpg') repeat;
    background-size: 100px 100px;
    color: #fff;
}

.table {
    margin-bottom: 0;
}

a {
    color: yellow;
}

a:hover {
    color: #ff203f;
}

.input-wrapper {
    width: 100%;
}

.input-wrapper > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-wrapper > .btn-submit {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 15%;
}

.ul-css {
    margin-right: 75px;
    margin-left: auto;
}

title {
    margin-top: 0.5em;
}

.card-body > form > .form-group .row > label {
    color: #1b1e21;
}

.adjust-left-input {

    position: static;
    right: 0;
}

#api_key {
    min-width: 270px;
}

.welcome-message {
    height: 400px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2%;
}

#pt-unique {
    padding-top: 130px;
}

.table th, .table td {
    vertical-align: middle !important;
}

